@page "/"

<h1>Hello from PolicyBasedBlazorAuth!</h1>

<p>Welcome to your new Blazor policy based authorization and authentication app.</p>

<AuthorizeView Policy="@Policies.IsUser">
    <p>You can only see this if you satisfy the IsUser policy.</p>
</AuthorizeView>

<AuthorizeView Policy="@Policies.IsAdmin">
    <p>You can only see this if you satisfy the IsAdmin policy.</p>
</AuthorizeView>
